@mixin input-hover-state {
    outline: none;
    border-color: $teal;
    background: $lighter-blue;
}

// https://www.madebymike.com.au/writing/precise-control-responsive-typography/
@mixin fluid-text($min_width: 600, $max_width: 900, $min_font: 42, $max_font: 72) {

    font-size: #{$min_font}px;

    @media (min-width: #{$min_width}px) and (max-width: #{$max_width}px){
        font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));
    }
    @media (min-width: #{$max_width}px){
        font-size: #{$max_font}px;
    }

}
