// Palette
$border-color				: #c5c8cc;
$teal 						: #018380;
$lighter-blue               : #d1eefc;
$secondary-blue             : #0174b8;
$text-color                 : #5B646B;
$white                      : #ffffff;


$border 					: 1px solid $border-color;
$font-size                  : 16px;
$glyphs 					: FontAwesome;

