@import 'variables';
@import 'demo';

.input-wrapper {
    position: relative;

    input,
    textarea {
        border: $border;
        color: $text-color;
        display: block;
        font-size: $font-size;
        font-weight: 300;
        padding: 0 10px;
        width: 100%;

        &:focus {
            background: $lighter-blue;
            border-color: $teal;
            outline: none;
        }
    }

    input {
        height: 44px;

        &[type='text'] {
            // sass-lint:disable-all
            &::-ms-clear {
                display: none;
            }
            // sass-lint:enable-all
        }
    }

    &.has-focus {
        .clear-input {
            display: block;
            height: 1.42857143em;
            line-height: 1.42857143em;
            position: absolute;
            right: 2em;
            top: 50%;
            transform: translate(0, -50%);

            &:focus {
                outline: $secondary-blue auto 5px;
            }

            &::after {
                color: $secondary-blue;
                content: '\f00d';
                cursor: pointer;
                font-family: $glyphs;
                font-size: $font-size;
                position: absolute;
            }
        }
    }
}
