@import 'variables';
@import 'mixins';

.input-wrapper {
    position: relative;

    input,
    textarea {
        border: $border;
        color: $text-color;
        display: block;
        font-size: $font-size;
        font-weight: 300;
        padding: 10px;
        width: 100%;

        &:focus {
            @include input-hover-state();
        }
    }

    input {
        height: 44px;

        &[type=text]::-ms-clear {
            display: none;
        }
    }

    input {
        height: 44px;

        &[type='text'] {
            // sass-lint:disable-all
            &::-ms-clear {
                display: none;
            }
            // sass-lint:enable-all
        }
    }

    &.has-focus {
        .clear-input {
            display: block;
            position: absolute;
            top: 50%;
            right: 0.5em;
            height: $height;
            line-height: $line-height;
            transform: translate(0, -50%);

            &:focus {
                outline: $secondary-blue auto 5px;
            }

            &::after {
                color: $secondary-blue;
                content: '\e870';
                cursor: pointer;
                font-family: $glyphs;
                font-size: $glyph-size;
                font-weight: 800;
            }
        }
        textarea {
            + .clear-input {
                top: auto;
                bottom: -$line-height;
                right: 0;
                transform: translate(0, 0);

                &::after {
                    display: block;
                    color: $white;
                    font-family: $font-family;
                    font-size: $font-size;
                    content: attr(data-text);
                }
            }
        }
    }
}
