body, html {
  height: 100vh;
  padding: 0;
  margin: 0; }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01827f+0,00467f+100 */
  background: #00467f;
  /* Old browsers */
  background: linear-gradient(135deg, #01827f 0%, #00467f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: flex;
  font-size: 16px;
  align-items: center;
  color: #ffffff;
  font-family: Roboto, 'Helvetica-Neue', Arial, sans-serif;
  justify-content: center;
  width: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  body a {
    color: #C6FF00; }
  body h1 {
    font-weight: 100;
    font-size: 72px;
    margin-bottom: 0.25em; }
  body input {
    margin-bottom: 20px; }
  body .row > div {
    float: none;
    margin: 0 auto; }
  body footer {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #ccc;
    text-align: center; }
  body .container {
    flex: 0 0 auto;
    max-width: 600px; }

*, *::before, *::after {
  box-sizing: border-box; }
