:root {
  font-size: 18px;
  /* default below 600px */ }

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  background: #00467f;
  /* Old browsers */
  background: linear-gradient(135deg, #01827f 0%, #00467f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #ffffff;
  display: flex;
  font-family: Roboto, 'Helvetica-Neue', Arial, sans-serif;
  font-size: 16px;
  justify-content: center;
  height: 100%;
  width: 100%; }
  body a {
    color: #C6FF00; }
  body h1 {
    font-weight: 100;
    margin-bottom: 0.25em;
    font-size: 42px; }
    @media (min-width: 320px) and (max-width: 540px) {
      body h1 {
        font-size: calc( 42px + (72 - 42) * ( (100vw - 320px) / ( 540 - 320) )); } }
    @media (min-width: 540px) {
      body h1 {
        font-size: 72px; } }
  body input {
    margin-bottom: 20px; }
  body .row > div {
    float: none;
    margin: 0 auto; }
  body footer {
    border-top: 1px solid #c5c8cc;
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center; }
  body .container {
    flex: 0 0 auto;
    padding: 20px;
    width: 530px;
    max-width: 100%; }

*, *::before, *::after {
  box-sizing: border-box; }
