.input-wrapper {
  position: relative; }
  .input-wrapper input,
  .input-wrapper textarea {
    border: 1px solid #c5c8cc;
    color: #5B646B;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    width: 100%; }
    .input-wrapper input:focus,
    .input-wrapper textarea:focus {
      outline: none;
      border-color: #018380;
      background: #d1eefc; }
  .input-wrapper input {
    height: 44px; }
    .input-wrapper input[type='text']::-ms-clear {
      display: none; }
  .input-wrapper.has-focus .clear-input {
    display: block;
    position: absolute;
    top: 50%;
    right: 0.5em;
    line-height: 1.42857em;
    transform: translate(0, -50%);
    width: 1.375em;
    height: 1.375em; }
    .input-wrapper.has-focus .clear-input:focus {
      outline: #0174b8 auto 5px; }
    .input-wrapper.has-focus .clear-input::after, .input-wrapper.has-focus .clear-input::before {
      height: 1px;
      width: 90%;
      content: ' ';
      background: #0174b8;
      display: block;
      position: absolute;
      transform: translate(5%, 50%) rotate(45deg);
      top: 50%; }
    .input-wrapper.has-focus .clear-input::after {
      transform: translate(5%, 50%) rotate(-45deg); }
  .input-wrapper.has-focus input,
  .input-wrapper.has-focus textarea {
    outline: none;
    border-color: #018380;
    background: #d1eefc; }
  .input-wrapper.has-focus textarea + .clear-input {
    top: auto;
    bottom: -1.42857em;
    right: 0;
    transform: translate(0, 0); }
    .input-wrapper.has-focus textarea + .clear-input::after {
      display: block;
      color: #ffffff;
      font-family: Roboto, "Helvetica Neue", Helvetica, Aral, sans;
      font-size: 16px;
      content: attr(data-text);
      width: 100%;
      text-align: right; }
