// Palette
$border-color     : #c5c8cc;
$teal             : #018380;
$lighter-blue     : #d1eefc;
$secondary-blue   : #0174b8;
$text-color       : #5B646B;
$white            : #ffffff;
$link-colour      : #C6FF00;


$border           : 1px solid $border-color;
$font-size        : 16px;
$glyph-size       : 24px;
$font-family      : Roboto, 'Helvetica Neue', Helvetica, Aral, sans;
$glyphs 		  : 'Linearicons-Free';
$line-height      : 1.42857143em;
$height           : $line-height;

